.cabecalho {
    background-color: var(--color-dark);
    position: fixed;
    width: 100%;
}

.cabecalho nav {
    margin-left: 25px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.cabecalho nav ul {
    padding-left: 0px;
}

::ng-deep .logo img {
    width: 80px;
    height: 60px;
}

::ng-deep .icon-person {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.icon-person label {
    margin-right: 8px; 
    font-size: 14px; 
  }
  
  .icon-person mat-icon {
    font-size: 20px; 
  }