.sidebar {
    width: 180px;
    height: 100vh;
    background: var(--color-dark);
    color: var(--color-primary);
}

.sidebar ul{
    margin-top: 0px;
}

.cursor-pointer{
    cursor: pointer;
}

.ul-option-sidebar{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    color: white;
    cursor: pointer;
    padding: 5px;
    gap: 2px;
}

.ul-option-sidebar mat-icon {
    margin-left: 0px;
}

.ul-option-sidebar:hover{
    background-color: var(--color-light);
    color: var(--color-dark);
}