<div class="dashboard-layout">
    <app-cabecalho></app-cabecalho>
    <div class="main">
        <app-sidebar></app-sidebar>
        <div class="content">

            <router-outlet></router-outlet>

            <span class="bar-research">
                <div class="search-group">
                    <input type="text" placeholder="Pesquise pelo nome..." [(ngModel)]="textSearch"
                        (keypress)="handleFilterCharacter()">
                </div>
            
                <div class="select-group">
                    <div class="select-item">
                        <label>Status:</label>
                        <select [(ngModel)]="statusSelected">
                            <option *ngFor="let status of listFilterStatus">{{status}}</option>
                        </select>
                    </div>
            
                    <div class="select-item">
                        <label>Sexo</label>
                        <select [(ngModel)]="genderSelect">
                            <option *ngFor="let gender of listFilterGender">{{gender}}</option>
                        </select>
                    </div>

                    <div class="select-item">
                        <label>Tipo</label>
                        <select [(ngModel)]="speciesSelected">
                            <option *ngFor="let type of listFilterSpecies">{{type}}</option>
                        </select>
                    </div>
                </div>
            
                <div class="search-btn">
                    <button (click)="handleFilterCharacter()"><mat-icon>search</mat-icon></button>
                </div>
            </span>
            

            <div class="cards-container" #containerContentCards>

                <ng-container
                    *ngFor="let person of listCurrentCharacters | filterPersonName:textSearch | filterPersonStatus:statusSelected | filterPersonGender:genderSelect | filterPersonSpecie:speciesSelected; trackBy: trackByIndex; ">
                    <app-card-person [infoCharacter]="person" (selectedCharacter)="openCard($event)"></app-card-person>
                </ng-container>

            </div>
        </div>
    </div>
</div>

<ng-container *ngIf="cardSelected">
    <div class="modal-overlay">

        <div class="modal">
            <span class="icon-close"><mat-icon>close</mat-icon></span>
            <div class="modal-content">
                <h2>{{ cardSelected.name }}</h2>
                <img [src]="cardSelected.image" alt="{{ cardSelected.name }}" class="modal-image">
                <p><strong>Status:</strong> {{ cardSelected.status }}</p>
                <p><strong>Species:</strong> {{ cardSelected.species }}</p>
                <p><strong>Gender:</strong> {{ cardSelected.gender }}</p>
                <p><strong>Origin:</strong> {{ cardSelected.origin.name }}</p>
                <p><strong>Location:</strong> {{ cardSelected.location.name }}</p>
                <p><strong>Episodes:</strong></p>
                <ul>
                    <li *ngFor="let episode of cardSelected.episode">{{ episode }}</li>
                </ul>
                <button>Close</button>
            </div>
        </div>
    </div>
</ng-container>